/* ============================
   FONT IMPORTS
============================ */
@font-face {
  font-family: Sans;
  src: url("../../assets/fonts/JUST Sans Regular.otf");
}
@font-face {
  font-family: AderoTrial;
  src: url("../../assets/fonts/AderoTrial-Regular.otf");
}
@font-face {
  font-family: Qrada;
  src: url("../../assets/fonts/Qrada.otf");
}
@font-face {
  font-family: Manilla;
  src: url("../../assets/fonts/Manilla for Personal Use only.otf");
}
@font-face {
  font-family: EBGaramond;
  src: url("../../assets/fonts/EB_Garamond/static/EBGaramond-Regular.ttf");
}
@font-face {
  font-family: Oswald;
  src: url("../../assets/fonts/Oswald/static/Oswald-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("../../assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Quattrocento;
  src: url("../../assets/fonts/Quattrocento-Regular.ttf");
}

/* ============================
   GLOBAL BODY
============================ */
body {
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 60px;
  font-family: Sans, sans-serif;
}

@media (max-width: 992px) {   /* tablets */
  body {
    padding-top: 110px;
  }
}

@media (max-width: 576px) {   /* mobile */
  body {
    padding-top: 120px;
  }
}

.admin-dashboard {
  font-family: Sans, sans-serif;
}

/* ============================
   SCROLLBAR HIDE
============================ */
.scrollBar::-webkit-scrollbar,
#right-body::-webkit-scrollbar {
  display: none;
}

.scrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ============================
   SIDEBAR ELEMENTS
============================ */
.sideNavbarElement {
  margin-left: 0.5rem;
  border-left: 0.5rem solid white;
}

.searchIconContainer {
  background-color: white;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

/* ============================
   ACTIVE / INACTIVE LEFT BORDER
============================ */
.hrInactive,
.hrActive {
  width: 0.3rem;
  height: 100%;
  border-width: 10rem 0 0 10rem;
  border-radius: 1rem;
  margin-top: 0;
}

.hrInactive {
  color: white;
}

.hrActive {
  color: red;
}

/* ============================
   NAVBAR ACTIVE/INACTIVE STYLES
============================ */
.navBarElementInactive {
  background-color: white;
  border-radius: 0.5rem;
}

.navBarElementActive {
  background-color: #f6f6f6;
  border-radius: 0.5rem;
}

.navbarActiveLinkAlignment,
.navbarInactiveLinkAlignment {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-left: -1rem;
  text-decoration: none;
  color: black;
  border-style: hidden;
}

.navbarActiveLinkAlignment {
  background-color: #f6f6f6;
  border-left: 0.5rem solid red !important;
}

.navbarInactiveLinkAlignment {
  background-color: white;
  border-left: 0.5rem solid white;
}

.navbarActiveLinkAlignment:hover,
.navbarInactiveLinkAlignment:hover {
  background-color: #f6f6f6;
  color: black;
}

/* ============================
   CARD STYLES
============================ */
.card {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: box-shadow 0.15s ease-in-out;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-img-top {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  object-fit: cover;
}

/* ============================
   NAV TABS
============================ */
.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-link {
  border: none;
  color: white;
  font-weight: 500;
}

.nav-tabs .nav-link.active {
  color: #495057;
  background-color: transparent;
  border-bottom: 2px solid #0d6efd;
}

/* BADGES */
.badge {
  font-size: 0.7em;
  font-weight: 600;
}

/* ============================
   RESPONSIVE FIXES
============================ */
@media screen and (max-width: 900px) {
  #navbar-content {
    margin-left: 3rem;
  }

  .col-2,
  .col-3,
  .col-7 {
    width: 100% !important;
    position: relative !important;
    left: 0 !important;
    right: 0 !important;
  }
}
