@font-face {
  font-family: Sans;
  src: url("../../assets/fonts/JUST\ Sans\ Regular.otf");
}
@font-face {
  font-family: AderoTrial;
  src: url("../../assets/fonts/AderoTrial-Regular.otf");
}
@font-face {
  font-family: Qrada;
  src: url("../../assets/fonts/Qrada.otf");
}
@font-face {
  font-family: Manilla;
  src: url("../../assets/fonts/Manilla\ for\ Personal\ Use\ only.otf");
}
@font-face {
  font-family: EBGaramond;
  src: url("../../assets/fonts/EB_Garamond/static/EBGaramond-Regular.ttf");
}
@font-face {
  font-family: Oswald;
  src: url("../../assets/fonts/Oswald/static/Oswald-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("../../assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Quattrocento;
  src: url("../../assets/fonts/Quattrocento-Regular.ttf");
}

body {
  background-color: white;
  overflow: hidden;
}

.admin-dashboard {
  font-family: Sans, sans-serif;
}

.vertical {
  border-left: 5px solid black;
  height: 200px;
}

.list {
  margin-bottom: 1rem;
  font-family: Sans;
}

.heading {
  font-family: Roboto;
}

.avatar {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.scrollBar::-webkit-scrollbar {
  display: none;
}

#right-body::-webkit-scrollbar {
  display: none;
}

.scrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sideNavbarElement {
  margin-left: 0.5rem;
  border-left: 0.5rem solid white;
}

.searchIconContainer {
  background-color: white;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.hrInactive {
  color: white;
  opacity: 1;
  width: 0.3rem;
  border-width: 10rem 0 0 10rem;
  border-radius: 1rem 0 0 0;
  height: 100%;
  margin-top: 0;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

.hrActive {
  color: red;
  opacity: 1;
  width: 0.3rem;
  border-width: 10rem 0 0 10rem;
  border-radius: 1rem 0 0 0;
  margin-top: 0;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

.navBarElementInactive {
  border-color: white;
  background-color: white;
  border-radius: 0.5rem;
  margin-left: -0.1rem;
}

.navBarElementActive {
  border-color: white;
  background-color: #f6f6f6;
  border-radius: 0.5rem;
  margin-left: -0.1rem;
}

.navbarActiveLinkAlignment {
  color: black;
  background-color: #f6f6f6;
  border-style: hidden;
  margin-left: -1rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-left: 0.5rem solid red !important;
}

.navbarInactiveLinkAlignment {
  color: black;
  background-color: white;
  border-style: hidden;
  margin-left: -1rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-left: 0.5rem solid white;
}

.navbarActiveLinkAlignment:hover,
.navbarInactiveLinkAlignment:hover {
  background-color: #f6f6f6;
  color: black;
  text-decoration: none;
}

/* Card Styles */
.card {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: box-shadow 0.15s ease-in-out;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-img-top {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  object-fit: cover;
}

/* Nav Tabs */
.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-link {
  border: none;
  color: #6c757d;
  font-weight: 500;
}

.nav-tabs .nav-link.active {
  color: #495057;
  background-color: transparent;
  border-bottom: 2px solid #0d6efd;
}

/* Badge Styles */
.badge {
  font-size: 0.7em;
  font-weight: 600;
}

/* Responsive Design */
@media screen and (max-width: 900px) {
  #navbar-content {
    margin-left: 3rem;
  }

  .col-2, .col-3, .col-7 {
    width: 100% !important;
    position: relative !important;
    left: 0 !important;
    right: 0 !important;
  }
}